* {
    box-sizing : border-box ;
}

body {
    margin : 0 ;
    padding : 0 ;
    font-family : Roboto, sans-serif ;
    min-height : 100vh ;
    display : flex ;
    flex-direction : column ;
}

main {
    flex-grow : 1 ;
    
}

p, li {
    max-width : 100ch ;
    font-size : 1rem ;
}

/* Titres */
h1 {
    font-size : 2rem ;
    text-align : center ;
}

h2 {
    font-size : 1.8rem ;
}

h3 {
    font-size : 1.6rem ;
}

.container {
    width : 100% ;
    max-width : 100ch ;
    margin : auto ;
}

/* Bannière */

#banniere {
    background : #00BFA5 ;
    position : fixed ;
    box-shadow : 0 2px 2px grey ;
    width : 100% ;
}

#banniere > .container {
    display : flex ;
    justify-content : space-between ;
    align-items : center ;
}

#banniere ul {
    list-style : none ;
    padding : 20px ;
    margin : 0 ;
    display : flex ;
    flex-wrap : wrap ;
}

#banniere ul a {
    text-decoration : none ;
    text-transform : uppercase ;
    color : #444444 ;
    cursor : pointer ;
    padding : 15px ;
}

#banniere ul a:hover {
    border-bottom : 2px dotted #444444 ;
}

/* Footer */

footer {
    background : #009688 ;
    color : rgba(255, 255, 255, 0.8) ;
}

h5 {
    font-size : 1.2rem ;
    margin : 15px 0 15px 0 ;
}

footer ul {
    margin : 0 0 15px 0 ;
    list-style : none ;
    padding : 0 ;
}

footer > .container {
    display : flex ;
    justify-content : space-between ;
    flex-wrap : wrap ;
}

footer > div:not(.container) {
    background : rgba(51, 51, 51, 0.08) ;
    
    padding : 15px 0 15px 0;
}

footer a {
    color : rgba(255, 255, 255, 0.8) ;
    text-decoration : none ;
}

#suiveznous {
    display : flex ;
    justify-content : space-between ;
}

#suiveznous img {
    height : 40px ;
    margin : 0 10px 0 10px ;
}

#genially {
    margin : auto ;
    margin-bottom : 15px ;
}

.illustrationbg {
    background-position : center center ;
    background-size : cover ;
    height : 70vh ;
    min-height : 450px ;
}

.zone {
    display : flex ;
    justify-content : space-between ;
    align-items : center ;
    flex-wrap : wrap ;
}

.zone > h3 {
    width : 100% ;
    text-align : center ;
}

#equipe > section {
    border : 1px solid lightgrey ;
    box-shadow : 1px 1px 2px grey ;
    margin-bottom : 15px ;
}

.triflex > * {
    width : 30% ;
    text-align : center ;
    margin-bottom : 15px ;
}