<head>
    <meta charset="utf-8" />
    <meta name="author" content="Infobulles, association Grenobloise">
    <meta name="description" content="Description de la page pour les moteurs de recherche" />
    <meta name="keywords" content="mot-clef1, mot-clef2" />
    <title>Infobulles - </title>
	<link rel="stylesheet" href="static/css/styles.css" />
	<script type="text/javascript" src="static/js/script.js"></script>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> <!--si t'es un vieux navigateur, t'as besoin de ça pour comprendre la nouvelle ossature de page issue de html5-->
</head>
