<header id="banniere">
    <nav class="container">
        <a id="logo" href="index.php"><img src="static/img/logo.png" alt="Infobulle"></a>
        
        <ul>
            <li><a href="cartes.html">Cartes</a></li>
            <li><a href="tchat.html">Tchat</a></li>
            <li><a href="liens_utiles.html">Liens utiles</a></li>
            <li><a href="jeux.html">Jeux</a></li>
            <li><a href="videos.html">Vidéos</a></li>
            <li><a href="agenda.html">Agenda</a></li>
          </ul>
    </nav>
    
</header>