<header id="banniere">
    <nav class="container">
        <a id="logo" href="index.php"><img src="static/img/logo.png" alt="Infobulle"></a>
        
        <ul>
            <li><a href="cartes.php">Cartes</a></li>
            <li><a href="tchat.php">Tchat</a></li>
            <li><a href="liens.php">Liens utiles</a></li>
            <li><a href="jeux.php">Jeux</a></li>
            <li><a href="videos.php">Vidéos</a></li>
            <li><a href="agenda.php">Agenda</a></li>
          </ul>
    </nav>
    
</header>