<main>
    <div class="zone illustrationbg" style="background-image:url('static/img/design/grenoble_bulle.jpg')">
        <p class="container">Infobulles est un site regroupant des cartes collaboratives, un mini-tchat, des jeux , des vidéos et des liens utiles vers des sites internet, logiciels, navigateurs, moteurs de recherche, des extensions...</p>
        <button>flêche</button>
    </div>
    
    <div class="zone container triflex">
        <section><h3>Cartes collaboratives</h3>
            <p>Découvrez nos cartes et apprenez à maîtriser vous-même les outils pour en faire.</p>
            <button>plus</button>
        </section>
        
        <section><h3>Mini-jeux</h3>
            <p>Entraînez vous au clavier et à la souris avec notre sélection de jeux en ligne gratuits.</p>
            <button>plus</button>
        </section>
         
        <section><h3>Mini-Tchat</h3>
            <p>Et si on discutait de tout et de rien! Venez découvrir le tchat pour tout nous dire... ou pas.</p>
            <button>plus</button>
        </section>
    </div>
    
    <div class="zone illustrationbg" style="background-image:url('static/img/design/Grenoble_panorama.jpg')">

    </div>
    
    <section class="zone container triflex"><h3>Notre équipe</h3>
        <section><h4>Maëlle LaLicorne</h4>
            <figure><img src="" alt="" /></figure>
        </section>
        <section><h4>Océane Caffoz</h4>
            <figure><img src="" alt="" /></figure>
        </section>
        <section><h4>Renaud Soulat</h4>
            <figure><img src="" alt="" /></figure>
        </section>
    </section>
    
    <div class="zone illustrationbg" style="background-image:url('static/img/design/Grenoble_nuit.jpg')">

    </div>
    
    <section class="zone"><h3>Nos trucs et astuces</h3>
        <div id="genially" class="container">
            <div style="position: relative; padding-bottom: 75.00%;">
            <iframe frameborder="0" width="2500" height="1875" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.genial.ly/View/Index/59819f3f02a5a239eca73988" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
            </div>
        </div>
    </section>
</main>